.page-header {
  padding: 4px;
  background-color: var(--primary-bg-light-color);
  border-radius: 4px;

  display: flex;
  justify-content: space-between;
}

.page-header_nav {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header_info {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-header_info ol {
  margin: 0;
}

.page-header_info li {
  padding-top: 4px;
  font-size: 13px;
  line-height: 13px;
}

.page-header_get-code {
  display: grid;
}
