.login-block {
  display: grid;
  width: 300px;
  grid-row-gap: 5px;

}

.login-block_req {
  display: grid;
  grid-template-columns: 85px 1fr;
  grid-template-rows: 24px;
}

.login-block_req--username {
  margin-top: 3px;
}
